	 h1 {text-align:center; 
		font-size: 320%; 
		font-family:Bahnschrift SemiBold ;
		color: #000000;}
		
	h2 {text-align:center;
		font-size: 200%; 
		font-family:Calibri ;
		}
		
    h3 {text-align:center;}
	
    p{ font-size: 120%;
		font-family:Bahnschrift ;	}
	
	img {border-radius: 7px;}
		
    table, th, td, tr{ border: 2px  solid black ;
             border-radius: 5px ;
             border-color: #00008B;
			 background-color:#6495ED;
			 margin: 20px;
			 border-collapse: collapse;
			 overflow: hidden;}
			 
	th {text-align:center;
		font-size: 140%; 
		font-family:Bahnschrift SemiBold; 
		background-color:#0047AB;
        color: #fff;}
		
	td { text-align:center; 
		font-size: 120%; 
		font-family:Bahnschrift ;}
		
	header {
        background-color:#5D3FD3;
        padding: 10px;
        text-align: center;	}
		
        footer {
            background-color:#5D3FD3;
            color: #000000;
            padding: 10px;
            text-align: center;
            width: 100%;
            bottom: 0;
        }
        
         a {
            font-size: 20px;
        }
		
		